<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.sb.mapper.MovieMapper">
	<select id="selectLists" resultType="com.ezen.sb.model.MovieVO">
		SELECT * FROM MOVIE 
		<where>
			<if test='credate == null and credat == ""'>
				AND DATE_FORMAT(CREDAT,'%Y%m%d') = DATE_FORMAT(NOW(),'%Y%m%d')
			</if>
		</where>
		ORDER BY MOVIE_NUM ASC
	</select>
	<select id="countMovie" resultType="int">
		SELECT COUNT(1) FROM MOVIE
		WHERE DATE_FORMAT(CREDAT,'%Y%m%d') = DATE_FORMAT(NOW(),'%Y%m%d')
	</select>
	<insert id="insertMovie">
		INSERT INTO MOVIE(rank, title, image, percent, link,ticketing)
		VALUES(#{rank}, #{title}, #{image}, #{percent}, #{link},#{ticketing})
	</insert>
	<select id="selectRead" resultType="com.ezen.sb.model.MovieVO">
		SELECT * FROM MOVIE WHERE RANK=#{rank}
	</select>
	<delete id="deleteMovie">
		DELETE FROM MOVIE WHERE RANK=#{rank}
	</delete>
	
	<select id="selectMovie" resultType="movieVO">
		SELECT RANK, TITLE, IMAGE, PERCENT
		FROM MOVIE
		WHERE MOVIE_NUM=${movieNum}
	</select>
</mapper>
