<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MovieMapper">
	<select id="list" resultType="com.ezen.sb.model.MovieVO">
		select * from movie order by rank
		desc
	</select>
	<insert id="insert">
		insert into movie(rank, title, image, percent, link,
		ticketing)
		values(#{rank}, #{title}, #{image}, #{percent}, #{link},
		#{ticketing})
	</insert>
	<select id="read" resultType="com.ezen.sb.model.MovieVO">
		select * from movie where
		rank=#{rank}
	</select>
	<delete id="delete">
		delete from
		movie where rank=#{rank}
	</delete>
</mapper>
