<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.ezen.sb.mapper.QnaMapper">
    
    	<select id="selectQnas" resultType="com.ezen.sb.model.QnaModel">
    		SELECT QNA_NUM, QNA_DATE, QNA_TITLE, QNA_STATUS
			FROM QNA_BOARD
			WHERE USER_NUM=#{userNum}
			ORDER BY QNA_NUM DESC
    	</select>
    	<select id="selectQna" resultType="com.ezen.sb.model.QnaModel">
    		SELECT QNA_DATE, QNA_STATUS, QNA_TITLE, QNA_CONTENT, QNA_FILE, QNA_ANSWER
			FROM QNA_BOARD
			WHERE USER_NUM=#{userNum} AND QNA_NUM=#{qnaNum}
    	</select>
    	<insert id="insertQna" parameterType="com.ezen.sb.model.QnaModel">
    		INSERT INTO QNA_BOARD(USER_NUM, QNA_TITLE, QNA_CONTENT)
			VALUES(#{userNum}, #{qnaTitle}, #{qnaContent})
    	</insert>
    	<update id="updateQna" parameterType="com.ezen.sb.model.QnaModel">
    	UPDATE QNA_BOARD
		SET QNA_STATUS='완료', QNA_ANSWER=#{qnaAnswer}
		WHERE QNA_NUM=#{qnaNum}
    	</update>
    
    </mapper>