<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.sb.mapper.UserMapper">

    <select id="findUser" resultType="com.ezen.sb.model.UserModel">
    	SELECT * FROM USER_TBL WHERE USER_ID = #{userId}
    </select>
    <select id="selectUserInfos" resultType="com.ezen.sb.model.UserModel">
    	SELECT * FROM USER_TBL
    </select>
    <select id="checkUserPhone" resultType="com.ezen.sb.model.UserModel">
    	SELECT USER_ID FROM USER_TBL WHERE PHONE=#{phone}
    </select>
    <select id="checkUserPhoneName" resultType="string">
    	SELECT USER_ID FROM USER_TBL WHERE PHONE=#{phone} AND USER_NAME=#{userName}
    </select>
    <select id="checkUserPhoneNameId" resultType="string">
    	SELECT USER_ID FROM USER_TBL WHERE USER_NAME=#{userName} AND USER_ID=#{userId} AND PHONE=#{phone}
    </select>
     <update id="updatePassword" parameterType="com.ezen.sb.model.UserModel">
    	UPDATE USER_TBL
		SET PASSWORD=#{password}
		WHERE USER_ID=#{userId}
    </update>
    <insert id="insertMember" parameterType="com.ezen.sb.model.UserModel">
    	INSERT INTO USER_TBL (USER_ID,USER_NAME,PASSWORD,BIRTH,EMAIL,PHONE,ADDR)
    	VALUES (#{userId},#{userName},#{password},#{birth},#{email},#{phone},#{addr})
    </insert>
    
    <!-- ///////////////////////////// -->
    
    <select id="getMember" resultType="com.ezen.sb.model.UserModel">
    	SELECT * FROM USER_TBL WHERE USER_ID=#{userId}
    </select>
    <select id="userCheck" resultType="com.ezen.sb.model.UserModel">
    	SELECT PASSWORD FROM USER_TBL WHERE USER_ID=#{userId}
    </select>
    
    <delete id="deleteMember">
    	DELETE FROM USER_TBL WHERE USER_ID = #{userId}
    </delete>
    
    <update id="updateMember" parameterType="com.ezen.sb.model.UserModel">
    	UPDATE USER_TBL
		SET USER_NAME=#{userName},PASSWORD=#{password},BIRTH=#{birth},EMAIL=#{email},PHONE=#{phone},ADDR=#{addr}
		WHERE USER_ID=#{userId}
    </update>
    <update id="updateUser" parameterType="com.ezen.sb.model.UserModel">
    	UPDATE USER_TBL
		SET USER_NAME=#{userName}, EMAIL=#{email}
		WHERE USER_NUM=#{userNum}
    </update>
</mapper>